<!DOCTYPE html>

<html lang="es ">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">
    
        <title>GEO SDP</title>
    
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="https://getbootstrap.com/docs/4.0/examples/album/album.css" rel="stylesheet">

        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    </head>
    
    <body>    
        <!--  ------------------------------------------ Barra superior -----------------------------------------  -->
        <header>
          <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                  <h4 class="text-white">Acerca de</h4>
                  <p class="text-muted">Sistematización de la información generada para los proyectos aplicados al sector productivo de la provincia de Jujuy, desde la Secretaría de Desarrollo Productivo.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                  <h4 class="text-white">Menu</h4>
                  <ul class="list-unstyled">
                    <li><a href="{% url 'inicio' %}" class="text-white">Inicio</a></li>
                    <li><a href="{% url 'proyectos' %}" class="text-white">Proyectos</a></li>
                    <li><a href="#" class="text-white">Email </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
              <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                <strong>.Geo SDP</strong>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>
        </header>
        <!--  -----------------------------------------------------------------------------------------------  -->


        {% block content %} {% endblock %}
    
    
        <!--  --------------------------------------- Footer ------------------------------------------------  -->
        <footer class="text-white">

          <div class="container bg-dark">
            <p>@</p>
            <p class="float-right"> <a href="#">Ir al inicio</a> </p>
            <p>Portal de datos geolocalizados &copy; SDP. Relevamiento de proyectos ejecutados por la Secretaría de Desarrollo Productivo!</p>
            <p>mas info <a href="../../"> inicio</a>   proyecto <a href="../../getting-started/">Información a cerca del proyecto del portal</a>.</p>
          </div>
        </footer>
    
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

    
        <!-- Bootstrap JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>